<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Ranking">
	
<!--	<insert id="create" parameterType="rankingVO">
		insert into music values (null, #{name}, #{musician}, #{img})
	</insert>
	<update id="up">
		update music set name = #{name} where no = #{no}
	</update>
	<delete id="del"  parameterType="Integer">
		delete from music where no = #{no}
	</delete>
	<select id="one" parameterType="rankingVO" resultType="rankingVO">
		select * from
		test5 where no = #{no}
	</select> -->
	<select id="all" parameterType="rankingVO" resultType="rankingVO">
		select * from
		tastezip.mzlist
	</select>
	<select id="rank" parameterType="rankingVO" resultType="rankingVO">
		select * from
		tastezip.mzlist where storeAddress = #{storeAddress}
	</select>
	<select id="count" parameterType="rankingVO" resultType="rankingVO">
		SELECT mzlist.storeAddress, COUNT(CASE WHEN mzlist.gender='여' THEN 1 END) AS num, GROUP_CONCAT(distinct img) as img
		FROM tastezip.mzlist
		inner JOIN tastezip.img
		ON mzlist.storeAddress = img.store
		GROUP BY mzlist.storeAddress
		ORDER BY num DESC
		LIMIT 3
	</select>
	
	
</mapper>